<body>
<section class="nav-bar-section">
    <mat-toolbar id="nav-tool-bar">
      <span> <img src="https://i.ibb.co/vBtrVvV/logo.png" alt="logo" border="0">
      </span>
      <div id="logo-divider">

      </div>
      <h1 id="hello-tag">
        Hello,
      </h1>
      <h2 id="user-name-tag">
        Chinthaka
      </h2>
    </mat-toolbar>

    <mat-card class="password-reset-content">Oops !
      <h4 id="change-password-label"> Change Password</h4>
      <mat-divider></mat-divider>
      <div class="password-expired-alert">
        <img src="assets/exlamation-circle.png" alt="this is a icon" id="exlmation-png" />
        <h1 id="password-expired-label">User password expired !</h1>
      </div>
      <div class="note-alert">
        <h2 id="note-label">Note: You can't re use your old password once you change it. </h2>
      </div>
      <div class="password-reset-fields">
        <mat-form-field class="form-filed" id="current-password-field">
          <input type="password" matInput [formControl]="CurrentPasswordFormControl" [errorStateMatcher]="matcher">
          <!--      <mat-hint>Errors appear instantly!</mat-hint>-->
          <mat-error id="matt-error" *ngIf="CurrentPasswordFormControl.hasError('password') && !CurrentPasswordFormControl.hasError('required')">
            Please enter the valid current Password
          </mat-error>
          <mat-error *ngIf="CurrentPasswordFormControl.hasError('required')">
            Current Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-filed" id="new-password-field">
          <input type="password" matInput [formControl]="NewPasswordFormControl" [errorStateMatcher]="matcher">
          <!--      <mat-hint>Errors appear instantly!</mat-hint>-->
          <mat-error id="matt-error" *ngIf="NewPasswordFormControl.hasError('password') && !NewPasswordFormControl.hasError('required')">
            Please enter a valid New Password
          </mat-error>
          <mat-error *ngIf="NewPasswordFormControl.hasError('required')">
            New Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-filed" id="confirm-password-field">
          <input type="password" matInput [formControl]="ConfirmNewPasswordFormControl" [errorStateMatcher]="matcher">
          <!--      <mat-hint>Errors appear instantly!</mat-hint>-->
          <mat-error id="matt-error" *ngIf="ConfirmNewPasswordFormControl.hasError('password') && !ConfirmNewPasswordFormControl.hasError('required')">
            Please enter the valid Confirm Password
          </mat-error>
          <mat-error *ngIf="ConfirmNewPasswordFormControl.hasError('required')">
            Confirm New Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </div>
      <div class="submit-button" id="submit-button">
        <button id="press-btn-submit" mat-raised-button color="warn">Submit</button>
      </div>
    </mat-card>

</section>
</body>
