.nav-bar-section>#nav-tool-bar>span>img{
  width: 45px;
}

#nav-tool-bar{
  height: 40px;
  box-shadow: 0px 4px 10px lightgrey;
}

#logo-divider{
  background-color: #908080;
  width: 0.1px;
  height: 25px;
  margin-left: 20px;
}

#hello-tag{
  font-size: 13px;
  font-weight: 600;
  margin-left: 20px;
  color: darkgray;
}

#user-name-tag{
  font-size: 13px;
  margin-left: 3px;
  color: red;
}

.password-reset-content{
  bottom: 30px;
  margin-top: 63px;
  width: 40em;
  position: absolute;
  top: 7%;
  left: 24%;
  height: 344px;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

#change-password-label{
  margin-left: 43px;
  margin-top: -21px;
  padding-left: 32%;
  font-weight: bolder;
  color: #685e5e;
}

#exlmation-png{

  width: 26px;
  height: 26px;
  margin-top: -7px;
  margin-left: -3px;

}

.password-expired-alert{

  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0.5em;
  border: 2px solid red;
  padding: 12px;
  width: 690px;
  height: 10px;
  margin-top: 29px;

}

#password-expired-label{
  color: red;
  font-weight: 700;
  font-size: 13px;
  margin-top: -31px;
  margin-left: 29px
}

.note-alert {

  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0.5em;
  border: 2px solid orange;
  padding: 12px;
  width: 353px;
  height: 10px;
  margin-top: 11px;
  margin-left: 12px;

}

#note-label{
  color: orange;
  font-weight: 700;
  font-size: 12px;
  margin-top: -11px;
  margin-left: 0px;
}

.password-reset-fields{
  width: 0px;
  font-size: 15px;
  margin-left: 13em;
  margin-top: 15px;
}

#current-password-field{

}

#new-password-field{
  margin-top: -6px;
}

#confirm-password-field{

  margin-top: -6px;
}


#press-btn-submit{

  font-size: 12px;
  line-height: 23px;
  margin-left: 49em;
  margin-top: -6px;

}
