<section class="nav-bar-section">
  <mat-toolbar id="nav-tool-bar">
      <span> <img src="https://i.ibb.co/vBtrVvV/logo.png" alt="logo" border="0">
      </span>

    <div class="nav-buttons">
      <a mat-raised-button color="warn" id="system-button">System</a>
      <a mat-button id="issuing-button">Issuing</a>
      <a mat-button id="acquiring-button">Acquiring</a>
      <a mat-button id="reporting-button">Reporting</a>
      <a mat-button id="callcenter-button">Call Center</a>
    </div>

    <img src="assets/notific-icon.png" alt="this is a icon" id="exlmation-icon" />

    <div id="logo-divider">

    </div>

    <h1 id="hello-tag">
      Hello,
    </h1>
    <h2 id="user-name-tag">
      Chinthaka
    </h2>

    <img src="assets/user-loging-options.png" alt="this is a icon" id="user-options-icon"/>

  </mat-toolbar>
</section>
