.epic-logo > img {
  height: 100px;
  margin-top: 60px;
  margin-left: 40px;
}

.login-welcome-note > h3 {
  color: #6a5a5a;
  font-family: system-ui;
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: 700;
  margin-left: 40px;
  margin-top: 40px;
}

.login-welcome-note > h3 > span {
  font-weight: 900;
  color: black;
  font-family: revert;
}

.login-welcome-note > p {
  font-size: 12px;
  color: #5B5B5B;
  line-height: 20px;
  margin-left: 40px;
  position: relative;
  margin-top: -1em;

}

.login-form {
  margin-left: 40px;

}


.form-filed {
  width: 80%;
}


.form-content-of-login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-top: 10px;
  column-gap: 40px;
}

#login-button {

  margin-top: 2.5em;

}


#press-btn-login{
  width: 100px;
  box-shadow: 5px 6px 3px lightgrey;
  font-weight: bold;
}

#username-label {
  margin-left: 60px;
  font-weight: bold;
  font-size: 18px;
}

#password-label {
  margin-left: 60px;
  font-weight: bold;
  font-size: 18px;
}

#password-field {

  padding-top: 40px;
}

.login-footer{

  font-size: 1em;
  font-weight: bold;
  color: darkgray;
  margin-left: 40px;
  margin-top: 6.5em;

}








